/* From Uiverse.io by satyamchaudharydev */
.spinner {
    position: relative;
    width: 150px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: -113px;
  }
  
  .spinner span {
    position: absolute;
    top: 50%;
    left: var(--left);
    width: 80px;
    height: 17px;
    
    
    background:#ff550d;
    animation: dominos 1s ease infinite;
    box-shadow: 2px 2px 3px 0px black;
  }
  
  .spinner span:nth-child(1) {
    --left: 120px;
    animation-delay: 0.125s;
  }
  
  .spinner span:nth-child(2) {
    --left: 105px;
    animation-delay: 0.3s;
  }
  
  .spinner span:nth-child(3) {
    left: 90px;
    animation-delay: 0.425s;
  }
  
  .spinner span:nth-child(4) {
    animation-delay: 0.54s;
    left: 75px;
  }
  
  .spinner span:nth-child(5) {
    animation-delay: 0.665s;
    left: 60px;
  }
  
  .spinner span:nth-child(6) {
    animation-delay: 0.79s;
    left: 45px;
  }
  
  .spinner span:nth-child(7) {
    animation-delay: 0.915s;
    left: 30px;
  }
  
  .spinner span:nth-child(8) {
    left: 15px;
  }
  
  @keyframes dominos {
    50% {
      opacity: 0.7;
    }
    75% {
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
    80% {
      opacity: 1;
    }
  }
  